.not-found {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		margin-bottom: 1rem;
	}

	&__link {
		transition: letter-spacing 0.2s ease-out;

		&:hover {
			letter-spacing: 0.05rem;
		}

		&,
		&:active {
			color: blue;
		}
	}
}
